@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap");
.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 2px solid black;
  padding-bottom: 10px;
}
.header__top .header__logo {
  width: 512px;
  margin-left: -47px;
}
.header__top .header__logo p {
  font-size: 13px;
  color: rgba(0, 0, 0, 0.5019607843);
  font-weight: 300;
  line-height: 15.85px;
  text-align: center;
  letter-spacing: 0.795em;
  margin-top: -40px;
}
.header__top .header__cases {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 31px;
  color: #000000;
  font-weight: 700;
  line-height: 37.79px;
  text-align: center;
  text-decoration: underline;
  margin-left: -90px;
}
.header__top .header__cases a:hover {
  color: gray;
}
.header__top .header__cases a:active {
  color: #ffd954;
}
.header__top .header__call p {
  font-size: 20px;
  color: #000000;
  font-weight: 400;
  line-height: 24.38px;
  text-align: center;
}
.header__top .header__call .header__call__button {
  border: 1px solid #000000;
  background-color: white;
  padding: 10px 10px;
  border-radius: 15px;
  margin-left: 10px;
}
.header__top .header__call .header__call__button:hover {
  background-color: rgb(236, 235, 235);
  color: #000000;
}
.header__top .header__call .header__call__button:active {
  background-color: #ffd954;
}

.header__bot .header__nav {
  margin-top: 20px;
  margin-bottom: 45px;
}
.header__bot .header__nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 50px;
  margin-right: 50px;
}
.header__bot .header__nav ul li {
  position: relative;
}
.header__bot .header__nav ul li::after {
  display: block;
  position: absolute;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #000000;
  content: "";
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.header__bot .header__nav ul li:hover::after {
  width: 100%;
}
.header__bot .header__nav ul li a {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.6235294118);
  font-weight: 400;
  line-height: 24.38px;
  text-align: center;
}
.header__bot .header__nav ul li a:hover {
  color: #000000;
}

.prewiev {
  background-image: url(../../img/prewiev_bcg.jpg);
  background-position: center;
  background-size: cover;
  padding-top: 93px;
  padding-bottom: 48px;
}
.prewiev .prewiev__content {
  padding-left: 47px;
}
.prewiev .prewiev__content .prewiev__title {
  margin-bottom: 10px;
  font-size: 50px;
  color: #000000;
  font-weight: 600;
  line-height: 60.95px;
  text-align: left;
}
.prewiev .prewiev__content .prewiev__subtitle {
  margin-bottom: 30px;
  font-size: 20px;
  color: #000000;
  font-weight: 300;
  line-height: 24.38px;
  text-align: left;
}

.for {
  padding-top: 150px;
  padding-bottom: 150px;
}
.for .for__title {
  margin-bottom: 30px;
}
.for .for__jobs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 170px;
  margin-right: 170px;
  font-size: 24px;
  color: #000000;
  font-weight: 300;
  line-height: 29.26px;
  text-align: center;
}
.for .for__jobs .for__job {
  width: 216px;
  height: 222px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.for .for__jobs .for__job .job__img {
  width: 216px;
  height: 222px;
}
.for .for__jobs .for__job:nth-child(2) {
  margin-left: 171px;
  margin-right: 171px;
}

.details {
  background-image: url(../../img/details_bcg.jpg);
  background-size: cover;
  padding-top: 166px;
  padding-bottom: 171px;
}
.details p {
  margin-top: 10px;
  margin-bottom: 36px;
  font-size: 25px;
  color: #000000;
  font-weight: 300;
  line-height: 30.48px;
  text-align: center;
}
.details form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.details form input:not(:last-child) {
  width: 1007px;
  height: 50px;
  border-radius: 15px;
  margin-bottom: 20px;
  padding-left: 21px;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Montserrat", sans-serif;
}

ul {
  list-style-type: none;
}

._wrapper {
  width: 1375px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 47px;
  padding-right: 47px;
}

a {
  text-decoration: none;
  color: #000000;
}

h2 {
  font-size: 50px;
  color: #000000;
  font-weight: 600;
  line-height: 60.95px;
  text-align: center;
}

.button {
  width: 357px;
  height: 69px;
  border: 2px #000000 solid;
  border-radius: 13px;
  font-size: 30px;
  color: #000000;
  font-weight: 600;
  line-height: 35.57px;
  text-align: center;
  background-color: #ffd954;
}
.button:active {
  background-color: rgb(51, 249, 51);
}